body {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 1366px;

  color: #ffffff;
  background-color: #121212;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}

@media (min-width: 768px) {
  body {
    padding: 1.5rem 3rem;
  }
}
